body{ 
    height: 100%;
     background-image: url(https://wallpapers.com/images/hd/1080p-cyberpunk-2077-background-mge28woqzd2zz1jb.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed; 
     font-family: "Barlow Condensed", sans-serif;
 }
 


h1,h2,h3,h4,h5,h6,p{
    color:white;
}

.cartas{
    
    background-color: rgba(44, 44, 44,0.5);
    opacity: 0.9;
}

.movimiento{
    transition: 0.5 ease;
}

.movimiento:hover{
    transform: scale(110%);
    transition: 0.3s ease;
    filter: drop-shadow(1px 1px 1px black);
}
    
.btn-primary{
    width: 100%;
    border: none;
    border-radius: 50px;
    background: purple;
    color: white;
    transition: background 0.5s ease;
    
}

.btn-primary:hover{
    background: blue;
}

 .btn-danger{
    width: 50%;
    border: none;
    border-radius: 50px;
    color: white;
    transition: 0.5s ease;
}

.btn-danger:hover{
    background: rgb(0, 0, 0);
}
 

 .btn-success{
    width: 50%;
    border: none;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    transition: 0.5s ease;
}

.btn-success:hover{
    background: rgb(0, 0, 0);
}
  




@media (min-width: 767.98px){
    .carrusel{
        padding: 50px;
        background-color: rgba(44, 44, 44,0.5);
        opacity: 0.9;
        border-radius: 50px;

    }
}

.ficha{
    text-align: center;
    background-color: rgba(44, 44, 44,0.3);
    
}

.footer{
    margin-top: 250px;
}

.consolas{
    margin: 1rem;
    display: flex;
    justify-content: space-around;
    border-radius: 50px;
    transition: background-color 0.5s ease;
}

.consolas:hover{
    transform: scale(130%);
    transition: 0.3s ease;
    filter: drop-shadow(1px 1px 1px black);
}

.form-control{
    box-shadow: none !important;
    border: none;
    border-bottom: 1px solid;
    border-radius: 4px 4px 0 0;
}

.container-fluid h4{
    font-size: 2rem !important;
    font-weight: 700;
}

.form-label{
    font-family: 800;
}

form h4{
    color: black;
}

form{
    width: 24%;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    border-radius: 20px;
    margin-top: 150px;
       
}

html,body{
    min-height: 100%;
}



.medio{
    margin-top: 150px;
}

.medio2{
    margin-top: 130px;
}

.carrito{
    margin-left: 150px;
}

.tarjeta-producto{
    background-color: var(--color-acento-claro);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 200ms;
  }

.comentarios{
    width: 18rem;
}
